replicaCount: 1

image:
  registry: "docker.io"
  repository: "wordpress"
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

customLabels: {}
customAnnotations: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 33
  runAsUser: 33
  runAsNonRoot: true

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  privileged: false

service:
  type: ClusterIP
  port: 80
  annotations: {}
  labels: {}

ingress:
  enabled: false
  className: ""
  maxBodySize: 64m
  annotations: {}
  labels: {}
  hosts:
    - host: wordpress.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

autoscaling:
  enabled: false

customStartupProbe: {}
startupProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30
  successThreshold: 1
  periodSeconds: 10

customLivenessProbe: {}
livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 5
  successThreshold: 1
  periodSeconds: 10

customReadinessProbe: {}
readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 5
  successThreshold: 1
  periodSeconds: 10

extraInitContainers: []
extraContainers: []

priorityClassName: ""
nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: {}
revisionHistoryLimit: 10
podDisruptionBudget: {}

containerPort: 8000
env: []
args: []

externalDatabase:
  existingSecret: wordpress-db-secret
  user: ""   
  password: ""   
  database: ""   
  host: mysql.mysql.svc.cluster.local


settings:
  tablePrefix: wp_
  maxFileUploadSize: 64M
  memoryLimit: 128M
  configExtra: ""

customPhpConfig: |
apachePortsConfig: |
apacheDefaultSiteConfig: |

extraEnvSecrets: []
extraEnvConfigs: []
extraSecrets: []

storage:
  persistentVolumeClaimName: ""
  requestedSize: 10Gi
  className: ""
  accessModes:
    - ReadWriteOnce
  keepPvc: false
  annotations: {}
  labels: {}

mariadb:
  enabled: false
  settings:
    rootPassword: ""
  userDatabase: {}
  storage: {}

networkPolicy: {}
