image:
  registry: "docker.io"
  repository: "mysql"
  pullPolicy: IfNotPresent
  tag: "8.0"

serviceAccount:
  create: true
  name: "mysql-sa"
  annotations: {}

podManagementPolicy: OrderedReady
updateStrategyType: RollingUpdate

podSecurityContext:
  fsGroup: 999
  supplementalGroups: [999]

securityContext:
  allowPrivilegeEscalation: false
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsGroup: 999
  runAsUser: 999
  capabilities:
    drop: [ALL]

service:
  type: ClusterIP
  port: 3306
  nodePort: null
  clusterIP: null
  loadBalancerIP: null
  loadBalancerSourceRanges: []
  annotations: {}
  labels: {}

resources: {}
initResources: {}

startupProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30
  successThreshold: 1
  periodSeconds: 10

livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
  periodSeconds: 10

readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
  periodSeconds: 10

settings:
  rootPassword:
    value: "mypassword"
  allowEmptyRootPassword: false
  skipTZInfo: false

storage:
  volumeName: "mysql-data"
  accessModes: [ReadWriteOnce]
  requestedSize: 10Gi
  className: "microk8s-hostpath"
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Retain
    whenScaled: Retain
  annotations: {}
  labels: {}

extraInitContainers: []
extraContainers: []
env: []
extraEnvSecrets: []
extraSecretConfigs: []
extraScripts: []
extraSecrets: []
extraConfigs: []
