image:
  registry: "docker.io"
  repository: "wordpress"
  pullPolicy: IfNotPresent
  tag: "6.4-apache"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 80
  nodePort: 30080
  annotations: {}
  labels: {}

resources: {}

ingress:
  enabled: false

wordpressUsername: admin
wordpressPassword: adminpass
wordpressEmail: tobbe.sjogren@hotmail.com
wordpressBlogName: "TestPage"

mariadb:
  enabled: false   # disable the bundled MariaDB

externalDatabase:
  host: mysql.mysql.svc.cluster.local
  user: wpuser
  password: wppass
  database: wordpress
  port: 3306

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
  storageClass: "microk8s-hostpath"
