image:
  registry: "docker.io"
  repository: "mysql"
  pullPolicy: IfNotPresent
  tag: "8.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

customLabels: {}
customAnnotations: {}

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podManagementPolicy: OrderedReady
updateStrategyType: RollingUpdate

podSecurityContext:
  fsGroup: 999
  supplementalGroups:
    - 999

securityContext:
  allowPrivilegeEscalation: false
  privileged: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsGroup: 999
  runAsUser: 999
  capabilities:
    drop:
      - ALL

service:
  type: ClusterIP
  port: 3306
  annotations: {}
  labels: {}

resources: {}
initResources: {}

priorityClassName: ""
nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: {}

revisionHistoryLimit: 10

startupProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30
  successThreshold: 1
  periodSeconds: 10

livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
  periodSeconds: 10

readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
  periodSeconds: 10

extraInitContainers: []
extraContainers: []
env: []

useDeployment: false

settings:
  existingSecret: "mysql-secret"
  allowEmptyRootPassword: false
  skipTZInfo: false

userDatabase:
  existingSecret: "mysql-secret"

customConfig: |

customScripts: {}
extraEnvSecrets: []
extraSecretConfigs: []
extraScripts: []
extraSecrets: []
extraConfigs: []

storage:
  persistentVolumeClaimName: ""
  volumeName: "mysql-data"
  requestedSize: "10Gi"
  className: "microk8s-hostpath"
  accessModes:
    - ReadWriteOnce
  keepPvc: true
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Retain
    whenScaled: Retain
  annotations: {}
  labels: {}

extraStorage: {}
